.reports {
	h2 {
		margin: 10px auto;
		color: #444;
	}

	.pageLinks {
		width: 100%;
		padding: 15px;

		.pageLink:first-of-type {
			left: 15px;
		}

		.pageLink:last-of-type {
			right: 15px;
		}

		.pageLink {
			position: absolute;
		}
	}
}