.reportForm {
	padding: 15px;

	h1 {
		letter-spacing: 3px;
		color: #394648;
		margin: 0 0 30px 0;
		span {
			font-size: 1.5em;
			margin-right: 5px;
			bottom: -.2em;
			position: relative;
		}
	}

	textarea {
		min-height: 100px;
		padding-right: 5px;
		resize: vertical;
		font-family: 'Oxygen', sans-serif;
	}

	.submitButton {
		float: right;
	}

	.removeFileButton {
		margin: 10px 0;
	}

	.fileUploadButton {
		margin: 10px 0 50px 0;
	}

	.dateInput, .timeInput {
		width: 49%;
	}

	.dateInput {
		float: left;
	} 

	.timeInput {
		float: right;
	}
}