.reportPage {

	.listSubHeader {
		font-size: 18px;
    font-weight: bold;
		margin-top: 5px;
	}

	li {
		span {
			white-space: pre-wrap;
		}
	}

	hr {
		background-color: #444;
    margin: 5px 0 !important;
		border: 0;
		height: 1px;
	}

	h5~hr {
		height: 2px;
		margin-top: 0 !important;
	}

	.analystActions {
		position: fixed;
    top: 100px;
    right: 100px;
		width: 200px;
    padding: 15px 15px 0 15px;
		
		label {
			cursor: pointer;
			margin: 0;
		}

		.analystInfo {
			margin-bottom: 10px;
			font-size: 12px;
			color: #666;
		}
	}

	.file {
		margin: 5px 0;
	}
}