.select {
	margin: 20px 0;
	width: 100%;

	select {
		width: 100%;
		padding: 10px;
		margin: 10px 0 0 0;
		border: 1px solid var(--input-text-bottom-border-color);
	}

	label {
		font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-family: var(--preferred-font);
	}
}